In [1]:
num=[1,2,3,4,5,6,7,]
odd_num=[1]

In [2]:
for num in range(2):
    print(1,2,3,4,5,6,7)

1 2 3 4 5 6 7
1 2 3 4 5 6 7

In [6]:
for a in range(10):# 10 is not included (0,1,2,3,4,5,6,7,8,9)
    print (a,"jan","khaani")

0 jan khaani
1 jan khaani
2 jan khaani
3 jan khaani
4 jan khaani
5 jan khaani
6 jan khaani
7 jan khaani
8 jan khaani
9 jan khaani

In [30]:
for number in range(12):       #this number in index number
    print(number)

0
1
2
3
4
5
6
7
8
9
10
11

In [31]:
number

11

In [32]:
for number in range(1,12): 
    print(number)

1
2
3
4
5
6
7
8
9
10
11

In [33]:
for number in range(0,20):
    print(number)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [65]:
for number in range(20,0,-1):
    print(number)

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [62]:
for number in range(20,0,-2):      # in reverse loop use (-) in step
    print(number)

20
18
16
14
12
10
8
6
4
2

In [72]:
for num in range(8,12,1):
    print(num , "hasan")

8 hasan
9 hasan
10 hasan
11 hasan

In [53]:
students =('ali','khan','adnan')

In [54]:
grils_student=('sara','urooj')

In [55]:
for best_students in students:
    print(f"best student of class 10 is {best_students}")

best student of class 10 is ali
best student of class 10 is khan
best student of class 10 is adnan

In [56]:
for best_students in grils_student :
    print(f"best student of class 10 is {best_students}")

best student of class 10 is sara
best student of class 10 is urooj

In [79]:
cities= ('karachi','multan','honkong','dehli','peshwar','hyderabad')

In [94]:
for city in range(8):
    print('karachi','multan','honkong','dehli','peshwar','hyderabad')

karachi multan honkong dehli peshwar hyderabad
karachi multan honkong dehli peshwar hyderabad
karachi multan honkong dehli peshwar hyderabad
karachi multan honkong dehli peshwar hyderabad
karachi multan honkong dehli peshwar hyderabad
karachi multan honkong dehli peshwar hyderabad
karachi multan honkong dehli peshwar hyderabad
karachi multan honkong dehli peshwar hyderabad

In [92]:
for city in cities:
    print (city)

karachi
multan
honkong
dehli
peshwar
hyderabad

In [106]:
repeated_cities=('karachi multan honkong dehli peshwar hyderabad','karachi multan honkong dehli peshwar hyderabad''karachi','multan','honkong','dehli','peshwar','hyderabad''karachi','multan','honkong','dehli','peshwar','hyderabad''karachi','multan','honkong','dehli','peshwar','hyderabad' )

In [107]:
for city in repeated_cities:
    print (city)

karachi multan honkong dehli peshwar hyderabad
karachi multan honkong dehli peshwar hyderabadkarachi
multan
honkong
dehli
peshwar
hyderabadkarachi
multan
honkong
dehli
peshwar
hyderabadkarachi
multan
honkong
dehli
peshwar
hyderabad

In [15]:
name = 'syedzada' # you provide single value in quotation loop is break in single
                  # digit/alphbate by condition you str, single int is execute
                  # ti genrate the error

In [16]:
for cast in name:
    print(cast)

s
y
e
d
z
a
d
a

In [17]:
num2=123 #single int is execute genrate the error

In [18]:
for num3 in num2:#
    print(num3)

TypeError: 'int' object is not iterable