In [1]:
#loop countinue execute all value / mem by default if you loop is termminate use break loop
arr=[1,2,3,4,5,6,7,89,0]

In [2]:
for num in arr:               #this number in index number
    if num == 6:
        break
    print(num)

1
2
3
4
5

In [3]:
mobile_model=['s1','s2','s3','s4','s5','note2','note5','note8']

In [4]:
for news_model in mobile_model:
    if news_model == 's5':
        break
    print(news_model)

s1
s2
s3
s4

In [5]:
for news_model in mobile_model:
    if news_model == 'note8':
        break
    print(news_model)

s1
s2
s3
s4
s5
note2
note5

In [6]:
cities= ('karachi','multan','honkong','dehli','peshwar','hyderabad','islamabad')

In [7]:
for our_city in cities:
    if our_city == "honkong":
        break
    print(our_city)

karachi
multan

In [8]:
num =[2,32,54,36,1,21,6,84,3,5,25,8,64,32]

In [9]:
for multiply_2 in num:
    if multiply_2/2==32:
        break
    print(multiply_2)

2
32
54
36
1
21
6
84
3
5
25
8

In [10]:
num2 =[2,32,54,36,1,21,6,84,3,5,25,8,64,32]# this method use check and get even in list odd number
for odd_num in num2:                       # pass loop is break
    if odd_num%2!=0:
        break
    print(odd_num)

2
32
54
36

In [11]:
num2 =[2,32,54,36,1,21,6,84,3,5,25,8,64,32]
for num3 in range(15):
    if num3 == 12:
        break
    print(num3)

0
1
2
3
4
5
6
7
8
9
10
11

In [12]:
for num in num2:
    if num3%2 == 0:
        continue
    print("num3")

In [13]:
num2 =[2,32,54,36,1,21,6,84,3,5,25,8,64,32]# this method use for remove odd number
for even_num in num2:                       # in value use !=
    if even_num%2!=0: 
        continue
    print(even_num)

2
32
54
36
6
84
8
64
32

In [14]:
num2 =[2,32,54,36,1,21,6,84,3,5,25,8,64,32]# this method use for get odd number
for odd_num in num2:                       # in value use !=
    if odd_num%2==0:                 #this number in index number
        continue        #condition is neglet the value from lits
    print(odd_num)

1
21
3
5
25

In [15]:
for num4 in range (28):
    print(num4)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27

In [16]:
num4
for number1 in range(24): #this number in index number
    if number1==(12):
        continue
    print(number1)

0
1
2
3
4
5
6
7
8
9
10
11
13
14
15
16
17
18
19
20
21
22
23

In [17]:
for mobile in mobile_model:
    if mobile == 's3':
        continue
    print(mobile)

s1
s2
s4
s5
note2
note5
note8

In [18]:
num4=[7230614,6207,4768624,96,107407,7407,650127,7-287,2, 32, 54, 36, 1, 21, 6, 84, 3, 5, 25, 8, 64, 32]
num4

[7230614,
 6207,
 4768624,
 96,
 107407,
 7407,
 650127,
 -280,
 2,
 32,
 54,
 36,
 1,
 21,
 6,
 84,
 3,
 5,
 25,
 8,
 64,
 32]

In [19]:
num2

[2, 32, 54, 36, 1, 21, 6, 84, 3, 5, 25, 8, 64, 32]

In [20]:
for numd in num2:
    if numd==6:
        continue
    print(numd)

2
32
54
36
1
21
84
3
5
25
8
64
32