In [1]:
# 6.8 funtion passing imformation back from them

In [2]:
def add(val1,val2): #ans is print but not store 
    ans= val1+val2
    
    print(ans)

In [3]:
result=add(2,5)# is ans store nahi horha h

7

In [4]:
print(result)# ans is not print because ans is not store # funtion m se kuch bhi bahar nahi asakta

None

In [6]:
result*2 # ERROR BECAUSE IN FUNTION NOT RETURN FUNTION

TypeError: unsupported operand type(s) for *: 'NoneType' and 'int'

In [7]:
def add2 (val2,val3):
    ans = val2+val3
    
    return ans

In [8]:
result1=add2(5,6) # is ans ko use kar sakty
result1*3

33

In [9]:
result1=add2(5,6)
result1*4

44

In [10]:
result1=add2(5,7)
result1//4

3

In [11]:
def add3 (val1,val2,val3):
    sum = val1-val3
    ans = val2+val3
  
    return  sum ,["hello python"],ans

In [12]:
add3(2,6,4)

(-2, ['hello python'], 10)

In [13]:
def add3 (val1,val2,val3):
    sum = val1-val3
    ans = val2+val3
  
    return  sum ,["hello python"],ans
    
print("return is the last")# jab funtion kon call to return k bad jo bhi program  kare wo kam nahi kare ga

return is the last

In [14]:
add3(2,6,4)

(-2, ['hello python'], 10)

# 6.9using funtion as variable (which is what they  really are)

In [15]:
def add (val2,val1):
    return val2+val1
def sub (a,b):
    return a-b
result = add(2,6)-sub(8,4)
#  4   =     8    -    4

In [16]:
result

4

In [17]:
def add (val2,val1):
    return val2+val1
def sub (a,b):
    return a-b
def add3 (val1,val2,val3):
    sum = val1-val3
    ans = val2+val3
  
    return  sum 
def add2 (val2,val3):
    ans = val2+val3
    
    return ans
         

result = add(2,6)-sub(8,4)+ add3(1,6,9)+add2(4,7)

In [18]:
result

7

In [19]:
def x(a):
    x_square=a**2
    return int(x_square)
def y (b):
    y_square=b**2
    return int(y_square)
def  xy(a,b):
    two_multiply_xy = int(2*a*b)
    return int(two_multiply_xy)

RESULT=x(2)+xy(2,5)+y(5)

In [20]:
RESULT

49

In [21]:
def x_square(a):
    x=a**2
    return int(x)
def y_square (b):
    y=b**2
    return int(y)
def  two_multiply_xy(a,b):
    xy= int(2*a*b)
    return int(xy)

RESULT=x_square(2)+two_multiply_xy(2,5)+y_square(5)

In [22]:
result2=x_square(5)+two_multiply_xy(5,8)+y_square(8)

In [23]:
result2

169

In [24]:
def x_square(a):
    return a**2
def y_square (b):
 
    return   b**2
def  two_multiply_xy(a,b):
    
    return 2*a*b

RESULT=x_square(2)+two_multiply_xy(2,5)+y_square(5)

In [25]:
x_square(2)+two_multiply_xy(2,6)+y_square(6)

64

# 6.10 function : local and global varaible

# local varaible

In [26]:
"local variable those varaible which access only in funtion they are not accessible outsides function"

'local variable those varaible which access only in funtion they are not accessible outsides function'

# global varaible

In [27]:
"global varaible are varaibles they are defined out side the function and  canbe accessed and modified in and outsides the function"

'global varaible are varaibles they are defined out side the function and  canbe accessed and modified in and outsides the function'

In [65]:
def behappy():
    name = "mrs.ahmed" 
    print(f'{name} is very happy today')

In [66]:
behappy()

mrs.ahmed is very happy today

In [67]:
name

NameError: name 'name' is not defined

In [58]:
another_name = "mr. ali" 
def sad ():
    
    print(f'{another_name} is very sad today')

In [59]:
 sad ()

mr. ali is very sad today

In [60]:
print(another_name)

mr. ali

# 6.11 function within function

In [5]:
def commisionsalary(sales):
    if sales>100:
        return sales*100
    elif sales>50:
        return sales*50
    elif sales>40:
        return sales*40
    elif sales>30:
        return sales*30
    else:
        return
def salarycalc (basicsalary,sales):
    grosssalary=basicsalary +commisionsalary(sales)
    print(f'your gross salary is {grosssalary}')

In [10]:
salarycalc(50000,150)

your gross salary is 65000