In [1]:
alist = ['nasir','ahmed', 'jawaad','mohommad']

  #index    0       1         2

In [2]:
alist

['nasir', 'ahmed', 'jawaad', 'mohommad']

In [3]:
cities = ['karachi','multan','lahore','quetta']

In [4]:
cities

['karachi', 'multan', 'lahore', 'quetta']

In [5]:
# how to access the members

In [6]:
alist[0]

'nasir'

In [7]:
alist[2]

'jawaad'

In [8]:
alist[1]

'ahmed'

In [9]:
cities[3]

'quetta'

In [10]:
cities[2]

'lahore'

In [11]:
len(alist) # len is the length of of list/denoted the members

4

In [12]:
len(cities)

4

In [13]:
fruit=[]

In [14]:
len(fruit)

0

# adding a member to the list

In [15]:
# 1    append  require value
# 2    insert  require index no or value
# 3    extend  itrable value in []

In [16]:
#                        # ADD THE MEMBER
# frist list is execute. it list have member or have no member.than wirte the
#list and press the dot(.) than npress the tab than press the append than wirte
#membre in braket() than execute

In [17]:
fruit =[] #for suppose friuts is list have no member than add member

In [18]:
fruit.append('apple') # in append menber add last 
fruit

['apple']

In [19]:
fruit.append('mango')

In [20]:
fruit

['apple', 'mango']

In [21]:
alihome =[]

In [22]:
alihome.append('abu') 
alihome

['abu']

In [23]:
alihome.append('ami') 
alihome

['abu', 'ami']

In [24]:
alihome.append('baji') 
alihome

['abu', 'ami', 'baji']

In [25]:
alihome.append('bhai')
alihome

['abu', 'ami', 'baji', 'bhai']

In [26]:
alihome

['abu', 'ami', 'baji', 'bhai']

In [27]:
friends=['adnan']

In [28]:
friends.append('ashan')
friends

['adnan', 'ashan']

In [29]:
friends.append('mubashir')
friends

['adnan', 'ashan', 'mubashir']

In [30]:
friends.append('mavia')
friends

['adnan', 'ashan', 'mubashir', 'mavia']

#                        # insert function

In [31]:
#           
# in insert function add member is own wish by providing index number

In [32]:
friends

['adnan', 'ashan', 'mubashir', 'mavia']

In [33]:
friends.insert(2,'usama')
friends

['adnan', 'ashan', 'usama', 'mubashir', 'mavia']

In [34]:
course=['ai']

In [35]:
course.insert(0,'bc') #two time runs
course

['bc', 'ai']

In [36]:
course.insert(2,'iot')#three time runs
course

['bc', 'ai', 'iot']

In [37]:
course.insert(3,'5g')
course

['bc', 'ai', 'iot', '5g']

In [38]:
#                      extend
#when more one append in list use extend function. this 
#function member add on last of the list
#step
#1 lists
#2 dot
#3 apply extend function
#4 square braket in small bracket (['frist mem','sec mem' ])

In [39]:
friends

['adnan', 'ashan', 'usama', 'mubashir', 'mavia']

In [40]:
friends.extend(['shariq','sami'])
friends

['adnan', 'ashan', 'usama', 'mubashir', 'mavia', 'shariq', 'sami']

In [41]:
fruit

['apple', 'mango']

In [42]:
fruit.extend(['bluebarry','charry'])
fruit

['apple', 'mango', 'bluebarry', 'charry']

In [43]:
alist.extend(['taha','danish'])
alist

['nasir', 'ahmed', 'jawaad', 'mohommad', 'taha', 'danish']

In [44]:
course.extend(['blockchian','atificail'])
course

['bc', 'ai', 'iot', '5g', 'blockchian', 'atificail']

In [45]:
animail =['loain','tiger','cat']

In [46]:
animail

['loain', 'tiger', 'cat']

In [47]:
animail.append('loain')
animail

['loain', 'tiger', 'cat', 'loain']

In [48]:
animail.insert(3,'mouse')
animail

['loain', 'tiger', 'cat', 'mouse', 'loain']

#                  count function

In [49]:
 # in count function count the member in list 
# step 
#1 list
#2 dot
#3 apply count function
#4 member cout in small bracket

In [50]:
fruit.count('mango')

1

In [51]:
fruit.count('orange')

0

In [52]:
fruit.count('charry')

1

In [53]:
animail.count('cat')

1

In [54]:
animail.count('loain')

2

In [55]:
alist.count('nasir')

1

In [56]:
fruit.count('mango')

1

#              index function

In [57]:
# index check the index number of member .index function 
#give the headindex of the member when member is repeated

In [58]:
fruit

['apple', 'mango', 'bluebarry', 'charry']

In [59]:
fruit.index('apple')

0

In [60]:
fruit.index('charry')

3

In [61]:
friends

['adnan', 'ashan', 'usama', 'mubashir', 'mavia', 'shariq', 'sami']

In [62]:
friends.count('mubashir')

1

In [63]:
alist

['nasir', 'ahmed', 'jawaad', 'mohommad', 'taha', 'danish']

# clear funjction

In [64]:
#in clear function clear the complete list

In [65]:
friends =['adnan', 'ashan', 'usama', 'mubashir', 'mavia', 'shariq', 'sami']

In [66]:
friends.clear()
friends

[]

In [67]:
friends =['adnan', 'ashan', 'usama', 'mubashir', 'mavia', 'shariq', 'sami']

In [68]:
fruit = ['apple', 'mango', 'bluebarry', 'charry']

# copy function

In [69]:
# two type of copy function

# 1 by value {in copy by value member of frist list copied another list
# 2 by reference {but copy by reference} agar reference list means jonse list ko as a
#refernce gaya changing karny gy to second list m bhi changing hogi

In [70]:
fruit

['apple', 'mango', 'bluebarry', 'charry']

In [71]:
fruit2=fruit.copy()            # by value is m genrated/news list phely agi

In [72]:
alist

['nasir', 'ahmed', 'jawaad', 'mohommad', 'taha', 'danish']

In [73]:
sec_list=alist.copy()

In [74]:
sec_list

['nasir', 'ahmed', 'jawaad', 'mohommad', 'taha', 'danish']

In [75]:
classes_board=['frist_year','second_year','matric','inter']

In [76]:
classes2=classes_board.copy()

In [77]:
classes_board.append('4th_year') #classes_bprad m changing ki to clasess2 m changing nahi hoi
classes_board

['frist_year', 'second_year', 'matric', 'inter', '4th_year']

In [78]:
classes2

['frist_year', 'second_year', 'matric', 'inter']

In [79]:
classes_board #

['frist_year', 'second_year', 'matric', 'inter', '4th_year']

In [80]:
alist2=alist.copy()

In [81]:
alist2

['nasir', 'ahmed', 'jawaad', 'mohommad', 'taha', 'danish']

In [82]:
 # BY REFERENCE

In [83]:
fruit

['apple', 'mango', 'bluebarry', 'charry']

In [84]:
fruit3 = fruit

In [85]:
fruit3

['apple', 'mango', 'bluebarry', 'charry']

In [86]:
fruit.append('newfruit')

In [87]:
fruit3 #fruit m changing ki tu fruit3 m bhi chaning hoi

['apple', 'mango', 'bluebarry', 'charry', 'newfruit']

# REMOVE FUNCTION

In [88]:
#THERE ARE THREE TYPE
#1 del{delete} use index number
#2 remove [use member/value]
# pop

# del

In [89]:
friends

['adnan', 'ashan', 'usama', 'mubashir', 'mavia', 'shariq', 'sami']

In [90]:
del friends[3]

In [91]:
friends

['adnan', 'ashan', 'usama', 'mavia', 'shariq', 'sami']

In [92]:
alist

['nasir', 'ahmed', 'jawaad', 'mohommad', 'taha', 'danish']

In [93]:
del alist [5]

In [94]:
alist

['nasir', 'ahmed', 'jawaad', 'mohommad', 'taha']

In [95]:
fruit3=['apple', 'mango', 'bluebarry', 'charry', 'newfruit']

In [96]:
del fruit3[2]
fruit3

['apple', 'mango', 'charry', 'newfruit']

In [97]:
del fruit3[0:1]
fruit3

['mango', 'charry', 'newfruit']

In [98]:
alphabate=[1,2,3,4,5,6,7,8,9,0,11]
del alphabate[0:8]
alphabate

[9, 0, 11]

# remove

In [99]:
fruit2

['apple', 'mango', 'bluebarry', 'charry']

In [100]:
fruit2.remove('mango')

In [101]:
fruit2

['apple', 'bluebarry', 'charry']

In [102]:
classes2

['frist_year', 'second_year', 'matric', 'inter']

In [103]:
classes2.remove('second_year')

In [104]:
classes2

['frist_year', 'matric', 'inter']


# pop

In [105]:
friends=['adnan', 'ashan', 'usama', 'mubashir', 'mavia', 'shariq', 'sami']

In [106]:
friends

['adnan', 'ashan', 'usama', 'mubashir', 'mavia', 'shariq', 'sami']

In [107]:
pop_friend=friends.pop(4)

In [108]:
print(f'this friend popped from the list {pop_friend}')
print(f'this list is remaming {friends}')

this friend popped from the list mavia
this list is remaming ['adnan', 'ashan', 'usama', 'mubashir', 'shariq', 'sami']

In [109]:
print(f'this friends popped from the list ''{popppedfriends}' )
print(f'the reming''{friends}')

this friends popped from the list {popppedfriends}
the reming{friends}

# SORT FUNCTION

In [110]:
# SORT FUNCTION ARRANAGE THE ALPHBATE
#SORT FUNCTION BY DEFAULT ARRANAGE THE ALPHABATE IN ASSENDING ODER 
# WHEN ALPHABATE ARRANAGE IN DESSENDING ODER USE (REVERSE=FALE)

In [111]:
alphabate=['a','b','f','s','t','y','o','b']

In [112]:
alphabate.sort()

In [113]:
alphabate

['a', 'b', 'b', 'f', 'o', 's', 't', 'y']

In [114]:
alphabate.sort(reverse=False)

In [115]:
alphabate

['a', 'b', 'b', 'f', 'o', 's', 't', 'y']

In [116]:
alphabate.sort(reverse=True)

In [117]:
alphabate

['y', 't', 's', 'o', 'f', 'b', 'b', 'a']

In [118]:
alist2.sort(reverse=True)

In [119]:
alist2

['taha', 'nasir', 'mohommad', 'jawaad', 'danish', 'ahmed']

In [120]:
alist.sort()
alist

['ahmed', 'jawaad', 'mohommad', 'nasir', 'taha']

# reverse function

In [121]:
# reverse function is reverse all member

In [122]:
alist

['ahmed', 'jawaad', 'mohommad', 'nasir', 'taha']

In [123]:
alist.reverse()

In [124]:
print(alist)

['taha', 'nasir', 'mohommad', 'jawaad', 'ahmed']

In [125]:
alist2

['taha', 'nasir', 'mohommad', 'jawaad', 'danish', 'ahmed']

In [126]:
alist2.reverse()

In [127]:
alist2

['ahmed', 'danish', 'jawaad', 'mohommad', 'nasir', 'taha']

In [128]:
alihome

['abu', 'ami', 'baji', 'bhai']

In [129]:
alihome.reverse()

In [130]:
alihome

['bhai', 'baji', 'ami', 'abu']

In [131]:
alphabate

['y', 't', 's', 'o', 'f', 'b', 'b', 'a']

In [132]:
alphabate.reverse()

In [133]:
alphabate.sort()

In [134]:
alphabate

['a', 'b', 'b', 'f', 'o', 's', 't', 'y']

In [135]:
alphabate.sort(reverse=True)

In [136]:
alphabate

['y', 't', 's', 'o', 'f', 'b', 'b', 'a']

#