In [1]:
# opreators (  + ,  - , \ ,*)

print(23+78)

101

In [2]:
a=34 
b=23
c = a+ b
print(c)

57

In [3]:
value1 = 100 
value2 =10.5

sum = value2-value1
print(sum)

-89.5

In [32]:
# int sum =-89.5 
print(sum)

1

In [10]:
value1 = 200 
value2 = 6 
sum = value1*value2
print(sum)

1200

In [9]:
value1 = 1600
value2 = 4 
sum = value1/value2 #python by default floating point division
print(sum)

400.0

In [10]:
print(sum)

type(sum)

400.0

float

In [11]:
value1 = 1600
value2 = 4 
sum = value1//value2 {in python division operation use two time of division
                      sign than convert integer value}
                            [#INTEGER]
                      
print(sum)

400

In [16]:
value1 = 800 #[IN CASE OF FLOAT VALUE EXP(1.2 3.1 .0.5 7.9) IT NEGLATE VALUE AFTER PIONT ]
value2 = 1600
#ANS=0.5
sum = value1//value2
print(sum)

0

In [19]:
value1 = 6
value2 = 4
#ANS=1.5
sum = value1//value2
print(sum)

1

In [21]:
#IN STRING + IS NOT ADDITION BUTIT IS CONCATENATIION
a='23'
b='45'
print(a+b)

2345

In [24]:
a= '0349'
s='260'
y= '6098'
print(a+s+y)

03492606098