In [1]:
#nested loop use for multiple loop in one block

In [2]:
for a in range (5):
    print("Inner loop begins")
    for char in "china":
        print (a,char)

Inner loop begins
0 c
0 h
0 i
0 n
0 a
Inner loop begins
1 c
1 h
1 i
1 n
1 a
Inner loop begins
2 c
2 h
2 i
2 n
2 a
Inner loop begins
3 c
3 h
3 i
3 n
3 a
Inner loop begins
4 c
4 h
4 i
4 n
4 a

In [3]:
for a in range(5):
    print("Inner loop begins")
    for city in ('pakistan','japan','turki','arab'):
        print (a,city)

Inner loop begins
0 pakistan
0 japan
0 turki
0 arab
Inner loop begins
1 pakistan
1 japan
1 turki
1 arab
Inner loop begins
2 pakistan
2 japan
2 turki
2 arab
Inner loop begins
3 pakistan
3 japan
3 turki
3 arab
Inner loop begins
4 pakistan
4 japan
4 turki
4 arab

In [4]:
list_tupple=[1,2,3,4,5,6,7]
for a in list_tupple:
    print("Inner loop begins")
    for char in "china":
        print (a,char)

Inner loop begins
1 c
1 h
1 i
1 n
1 a
Inner loop begins
2 c
2 h
2 i
2 n
2 a
Inner loop begins
3 c
3 h
3 i
3 n
3 a
Inner loop begins
4 c
4 h
4 i
4 n
4 a
Inner loop begins
5 c
5 h
5 i
5 n
5 a
Inner loop begins
6 c
6 h
6 i
6 n
6 a
Inner loop begins
7 c
7 h
7 i
7 n
7 a

In [5]:
list_tupples=['ali','khan','jan','ertugal']
for a in list_tupples:
    print("Inner loop begins")
    for city in ('pakistan','japan','turki','arab'):
        print (a,city)

Inner loop begins
ali pakistan
ali japan
ali turki
ali arab
Inner loop begins
khan pakistan
khan japan
khan turki
khan arab
Inner loop begins
jan pakistan
jan japan
jan turki
jan arab
Inner loop begins
ertugal pakistan
ertugal japan
ertugal turki
ertugal arab

In [6]:
list_tupple=[1,2,3,4,5,6,7]
for a in list_tupple:
    for char in "china":
        print (a,char)

1 c
1 h
1 i
1 n
1 a
2 c
2 h
2 i
2 n
2 a
3 c
3 h
3 i
3 n
3 a
4 c
4 h
4 i
4 n
4 a
5 c
5 h
5 i
5 n
5 a
6 c
6 h
6 i
6 n
6 a
7 c
7 h
7 i
7 n
7 a

In [7]:
for a in range(3):
    for char in "china":
        print (a,char)

0 c
0 h
0 i
0 n
0 a
1 c
1 h
1 i
1 n
1 a
2 c
2 h
2 i
2 n
2 a

In [14]:
for a in range(3):
    for char in "china","pakistan":
        print (a,char)

0 china
0 pakistan
1 china
1 pakistan
2 china
2 pakistan

In [8]:
tablenumber=int(input('enter table number'))
for a in range (1,11):
    print(f"{tablenumber}*{a} = {tablenumber*a}")

enter table number2
2*1 = 2
2*2 = 4
2*3 = 6
2*4 = 8
2*5 = 10
2*6 = 12
2*7 = 14
2*8 = 16
2*9 = 18
2*10 = 20

In [9]:
TABLE_NUMBER =int(input('enter table number'))
for value_of_number in range (1,11):
     print(f"{TABLE_NUMBER}*{value_of_number} = {TABLE_NUMBER*value_of_number}")

enter table number3
3*1 = 3
3*2 = 6
3*3 = 9
3*4 = 12
3*5 = 15
3*6 = 18
3*7 = 21
3*8 = 24
3*9 = 27
3*10 = 30

In [10]:
TABLE_NUMBER =int(input('enter table number'))
for value_of_number in range (3,4):
     print(f"{TABLE_NUMBER}*{TABLE_NUMBER}*{value_of_number} = {TABLE_NUMBER*TABLE_NUMBER*value_of_number}")

enter table number2
2*2*3 = 12

In [11]:
TABLE_NUMBER =int(input('enter table number'))
for value_of_number in range (2,4):
     print(f"{TABLE_NUMBER}*{TABLE_NUMBER}*{value_of_number} = {TABLE_NUMBER*TABLE_NUMBER*value_of_number}")

enter table number4
4*4*2 = 32
4*4*3 = 48

In [12]:
table=int(input("Enter a table"))
for table in range (2,table+1):
    for num  in range (1,11):
        print(f"{table}*{num} ={table*num}")

Enter a table5
2*1 =2
2*2 =4
2*3 =6
2*4 =8
2*5 =10
2*6 =12
2*7 =14
2*8 =16
2*9 =18
2*10 =20
3*1 =3
3*2 =6
3*3 =9
3*4 =12
3*5 =15
3*6 =18
3*7 =21
3*8 =24
3*9 =27
3*10 =30
4*1 =4
4*2 =8
4*3 =12
4*4 =16
4*5 =20
4*6 =24
4*7 =28
4*8 =32
4*9 =36
4*10 =40
5*1 =5
5*2 =10
5*3 =15
5*4 =20
5*5 =25
5*6 =30
5*7 =35
5*8 =40
5*9 =45
5*10 =50

In [13]:
TABLE_NUMBER =int(input('enter table number'))
for value_of_number in range (1,11):
     print(f"{TABLE_NUMBER}*{TABLE_NUMBER}*{value_of_number} = {TABLE_NUMBER*TABLE_NUMBER*value_of_number}")

enter table number5
5*5*1 = 25
5*5*2 = 50
5*5*3 = 75
5*5*4 = 100
5*5*5 = 125
5*5*6 = 150
5*5*7 = 175
5*5*8 = 200
5*5*9 = 225
5*5*10 = 250