In [1]:
a = 10
# a is variable value(identifier)
# = assigment
# 10  value

In [2]:
print(a)

10

In [3]:
a = 19.9
print(a)

19.9

In [4]:
 g =12 
type(a)

float

In [5]:
s =5
type(s)

int

In [6]:
city = 'karachi'
type (city)

str

In [7]:
city

'karachi'

In [8]:
city = 43

In [9]:
city

43

In [10]:
type(city)

int

In [11]:
student_name = 'nasir'
father_name = 'ali'

In [12]:
print(student_name+father_name)

nasirali

In [13]:
num1 = 1000
num2 = 4000

sum = num1 +num2

print(sum)

5000

In [14]:
num2 = 890 
num3 = 110
num4 =100 
num5 = 700

subtract = num2 + num3 - num4 -num5

print(subtract)

200

In [15]:
student_name = 'ahmed ali'
father_name = 'mohammad ali'

In [16]:
print(student_name + father_name)

ahmed alimohammad ali

In [17]:
print("karachi")

karachi

In [18]:
print('urooj','UL','JANNAT' ,sep='')

uroojULJANNAT